@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TEMAN KLINIK</h1>
    <p class="lead">Website management stok Obat Apotek Teman Klinik.</p>
    <p><a> Silahkan Register kemudian login terlebih dahulu agar dapat mengakses website</a></p>
    <br />
    <p> TAUFIQ DWI CAHYONO 20160140092 | AFWA BAGAS WAHUDA 20160140070</p>
    <p><a href="#" class="btn btn-primary btn-lg">Sugeng Rawuh &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Assalamu'alaikum</h2>
        <p>
            Aplikasi Teman Klinik memudahkan anda mendata setiap stok obat, pengeluaran serta pemasukan untuk kasir apoteker
        </p>
        <p><a class="btn btn-default" href="#">Sugeng Rawuh &raquo;</a></p>
    </div>
</div>